[data-raffle-number],
[data-lottery],
[data-btn] {
	height: 30px;
	width: 150px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid lightgrey;
}

select {
	padding-left: 20px;
}

[data-raffle-number],
td {
	text-align: center;
}

[data-raffle-number],
[data-btn],
select {
	font-size: 1em;
	outline: 0;
}

[data-informations] {
	margin: 20px 0 0 0;
}

[data-btn],
select {
	cursor: pointer;
}

form {
	margin-bottom: 20px;
}

table {
	width: 100%;
}

.mega-sena,
.quina,
.lotofácil,
.lotomania,
.timemania {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	margin-right: 5px;
	color: white;
	font-weight: bold;
}

.mega-sena {
	background-color: #209869;
}

.quina {
	background-color: #260085;
}

.timemania {
	background-color: #00ff48;
}

.lotofácil {
	background-color: #930089;
}

.lotomania {
	background-color: #f78100;
}

table, 
tr, 
td,
th {
	border: 1px solid lightgrey;
	border-collapse: collapse;
} 

td {
	padding: 10px 0;
}

tr,
th {
	font-size: 1.1em;
}